*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #6495ed;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 60px;
}


h1 {
        text-align: center;
        color: #333;
        margin-bottom: 25px;
    }


#input{
   width: 70%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
        transition: 0.2s;
}

#input:focus {
        border-color: #5563DE;
        box-shadow: 0 0 5px rgba(85, 99, 222, 0.4);
    }





#btn{
     padding: 10px 15px;
        border: none;
        border-radius: 6px;
        background-color: #5563DE;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background 0.2s, transform 0.1s;
}


 ol {
        margin-top: 20px;
        list-style: none;
        padding-left: 0;
    }

    li {
        background: #f7f8ff;
        padding: 12px 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.2s;
    }

    li:hover {
        background: #eef0ff;
    }